/* ---------------------
- Default			   |
---------------------- */
body{
	margin-bottom: 0;
}

	h1{
		font-size: 28px;
		color: #de302f;
		font-weight: bold;
		text-transform: uppercase;
	}

	h2{
		font-size: 24px;
		color: #242a2c;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 50px;
		text-align: center;
	}

	h3{
		font-size: 18px;
		color: #de302f;
		font-weight: bold;
		text-transform: uppercase;
	}

	p{
		font-size: 16px;
		color: #6b6969;
	}
	
	section{
		margin: 40px 0;
	}
	
	.uppercase{
		text-transform: uppercase;
	}

	/* Fontes */
	.sintony{
		font-family: 'Sintony', sans-serif;
	}
	.roboto{
		font-family: 'Roboto', serif;
	}
	.roboto_slab{
		font-family: 'Roboto Slab', serif;
	}

.clear{
	clear: both;
}

.alignRight{
	text-align: right;
}

/* Botões */
.verMais{
	font-size: 18px;
	color: #de302f;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 20px;
	border: 2px solid #de302f;
	border-radius: 5px;
	font-weight: bold;
}
	.verMais:hover{
		color: #ea3e3d;
		border-color: #ea3e3d;
		text-decoration: none;
	}


.verMapa{
	font-size: 18px;
	color: #FFFFFF;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	background: #de302f;
}
	.verMapa:hover{
		background: #e83f3e;
		color: #FFFFFF;
		text-decoration: none;
	}
/* ---------------------
- Header			   |
---------------------- */
	#header{
		min-height: 60px;
		border-bottom: 2px solid #1b1b1b;
		background: rgba(222,47,47,1);
		background: -moz-linear-gradient(left, rgba(222,47,47,1) 0%, rgba(222,47,47,1) 22%, rgba(222,47,47,1) 22%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,47,47,1)), color-stop(22%, rgba(222,47,47,1)), color-stop(22%, rgba(222,47,47,1)), color-stop(22%, rgba(255,255,255,1)), color-stop(46%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(222,47,47,1) 0%, rgba(222,47,47,1) 22%, rgba(222,47,47,1) 22%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(222,47,47,1) 0%, rgba(222,47,47,1) 22%, rgba(222,47,47,1) 22%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(222,47,47,1) 0%, rgba(222,47,47,1) 22%, rgba(222,47,47,1) 22%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(222,47,47,1) 0%, rgba(222,47,47,1) 22%, rgba(222,47,47,1) 22%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de2f2f', endColorstr='#ffffff', GradientType=1 );
	}

	#header .container{
		max-height: 60px;
	}
		
		/* logo */
		#header .content-logo{
			background: #de302f;
			min-height: 60px;
			padding: 20px 30px 20px 10px;
		}

		#header .content-logo img{
			max-width: 100%;
		}
		
		/* Main menu */
		#header .main-menu{
			position: relative;
			background: none;
			border: 0;
		}
		#header .main-menu ul {
			margin-bottom: 0;
		}
		#header .main-menu ul li {
			display: block;
			float: left;
			list-style: none;
		}
		#header .main-menu ul li a{
			font-family: 'Sintony', sans-serif;
			font-size: 14px;
			color: #586165;
			display: block;
			padding: 20px 30px 20px 30px;
			font-weight: bold;
			text-transform: uppercase;
		}

		#header .main-menu ul li:hover a,
		#header .main-menu ul li.current-menu-item a{
			color: #de302f;
			text-decoration: none;
		}

/* ---------------------
- Home			  	   |
---------------------- */
	#home{

	}
	
	/* Fique por Dentro */
		#home .content-main{
			background: url(../images/home-main.jpg) top center no-repeat;
			width: 100%;
			height: 778px;
			background-size: auto 100%;
			position: relative;
			margin-top: 0;
		}
		#home .content-main .posistionText{
			max-width: 540px;
			max-height: 300px;
			position: absolute;
			bottom: 200px;
			right: 260px;
		}
		#home .content-main .posistionText h2{
			text-transform: none;
			font-size: 60px;
			color: #FFFFFF;
			padding: 0;
		}
		#home .content-main .posistionText h2 span.subtitle{
			font-size: 20px;
			text-align: center;
			display: block;
		}
		#home .content-main .posistionText h2 span.featured{
			background: #de302f;
			font-style: italic;
		}
		#home .content-main .posistionText p{
			text-align: center;
			margin-top: 20px;
		}
		#home .content-main .posistionText a{
			display: inline-block;
			padding: 10px 20px;
			color: #FFFFFF;
			border: 2px solid #FFFFFF;
			border-radius: 5px;
			font-weight: 700;
		}
		
		/* Fique por dentro */
		#home .content-news {}
		#home .content-news ul{}
		#home .content-news ul li {
			display: block;
			float: left;
			list-style: none;
		}
		#home .content-news ul li p{
			font-size: 15px;
			margin-top: 10px;
		}
		#home .content-news ul li p.tags{
			font-size: 12px;
			color: #6d6d6d;
		}
		#home .content-news ul li p.tags a{
			display: inline-block;
			background: #e55959;
			padding: 2px 10px;
			color: #FFFFFF;
		}
		#home .content-news ul li p.tags a:hover{
			text-decoration: none;
		}
		#home .content-news ul li h3{
			font-size: 18px;
			color: #de302f;
			text-transform: none;
		}
		#home .content-news ul li img{
			display: block;
			width: 100%;
		}
		#home .content-verMais{
			text-align: center;
			margin-top: 50px;
		}
	
	/* Baixe nosso aplicativo */
	#home .content-download{}
	#home .content-download .main-line{
		background: #de302f;
	}
	#home .content-download .main-line h2{
		padding: 10px 0;
		color: #FFFFFF;
	}
	#home .content-download .content-smartphone{
		margin-top: -40px;
	}
	#home .content-download .content-smartphone img{
		width: 100%;
	}
	#home .content-download .content-infos{}
	#home .content-download .content-infos p{
		margin-top: 40px;
		margin-left: 30px;
	}
	#home .content-download .content-infos ul{
		padding: 0;
		display: inline-block;
		margin-top: 40px;
	}
	#home .content-download .content-infos ul li{
		display: block;
		float: left;
		list-style: none;
		text-align: center;
	}
	#home .content-download .content-infos ul li i{
		padding: 20px;
		color: #FFFFFF;
		border-radius: 50%;
		font-size: 30px;
		background: #c02120; /* Old browsers */
		background: -moz-linear-gradient(top, #c02120 5%, #de302f 51%, #de302f 52%, #de302f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #c02120 5%,#de302f 51%,#de302f 52%,#de302f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #c02120 5%,#de302f 51%,#de302f 52%,#de302f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c02120', endColorstr='#de302f',GradientType=0 ); /* IE6-9 */
	}
	#home .content-download .content-infos ul li p{
		margin-left: 0;
	}

	/* Quem já informou um foco */
	#home .content-focos{
		margin-bottom: 0;
	}

	#home .content-focos .content-map{
		background: url(../images/mapa-bg.jpg) top center no-repeat;
		background-size: auto 100%;
		width: 100%;
		height: auto;
		min-height: 342px;
		position: relative;
	}
	
	#home .content-focos .content-map .content-infos{
		margin: 0 auto;
		max-width: 600px;
		padding: 70px 0;
		text-align: center;
	}

	#home .content-focos .content-map .content-infos p{
		color: #FFFFFF;
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 30px;
	}

/* ---------------------
- footer			   |
---------------------- */
	#footer{
		background: url(../images/footer-bg.png) top center repeat;
		width: 100%;
		height: auto;
		min-height: 190px;
		position: relative;
	}

	#footer a{
		color: #de302f;
		text-decoration: underline;
	}

	#footer p, #footer a{
		text-align: left;
		font-size: 15px;
	}

	#footer h4{
		font-size: 15px;
		color: #de302f;
		font-weight: bold;
		display: block;
		border-bottom: 2px solid #de302f;
		text-align: left;
		line-height: 30px;
		text-transform: uppercase;
	}
		
		/* Copyright */
		#footer .content-copyright{}

		/* Follow us */
		#footer .content-smm{}
		#footer .content-smm ul {
			padding: 0;
		}
		#footer .content-smm ul li {
			display: block;
			float: left;
			margin-left: 5px;
			margin-top: 10px;
		}
		#footer .content-smm ul li:first-child{
			margin-left: 0;
		}
		#footer .content-smm ul li a {
			padding: 10px;
			background: #676767;
			border-radius: 50%;
			color: #313131;
			display: inline-block;
		}
			#footer .content-smm ul li a:hover{
				background: #7c7c7c;
			}


/* ---------------------
- Page template	  	   |
---------------------- */
	.page-template,
	.page-template-default{}

	.page-template p,
	.page-template-default p{
		font-family: 'Roboto Slab', serif;
	}

	.page-template main,
	.page-template-default main{
		min-height: 500px;
		margin-top: 20px;
	}

	/* img top */
	.page-template .img-featured,
	.page-template-default .img-featured{
		/*background: url(../images/topo-focos.jpg) top center no-repeat;*/
		width: 100%;
		height: 120px;
		background-size: cover;
	}
	.page-template .img-featured h1,
	.page-template-default .img-featured h1{
		margin-top: 0;
		padding: 40px 0;
		text-align: center;
		font-size: 30px;
		color: #FFFFFF;
	}

	/* Content */
	.page-template .content-main,
	.page-template-default .content-main{
		min-height: 400px;
	}
	.page-template .content-main p,
	.page-template-default .content-main p{
		font-family: 'Roboto Slab', serif;
		color: #161616;
		margin: 20px 0;
	}

	.page-template .content-main a,
	.page-template-default .content-main a{
		color: #2a2a2a;
		font-weight: bold;
	}

	.page-template .content-main h2,
	.page-template .content-main h3,
	.page-template .content-main h4,
	.page-template-default .content-main h2,
	.page-template-default .content-main h3,
	.page-template-default .content-main h4{
		margin: 20px 0;
		padding: 0;
		text-align: center;
	}

	.page-template .content-main h2,
	.page-template-default .content-main h2{
		font-size: 24px;
	}
	.page-template .content-main h3,
	.page-template-default .content-main h3{
		font-size: 20px;
	}
	.page-template .content-main h4,
	.page-template-default .content-main h4{
		font-size: 16px;
	}

	.page-template .content-main .content-map{
		margin: 40px 0;
	}
	.page-template .content-main .content-map #gmap_canvas{
		width: 100%;
		height: 500px;
		border-radius: 10px;
	}

		/* Forms */
		.page-template .content-main .content-forms{}
		.page-template .content-main .content-forms p{
			margin: 10px 0;
		}
		.page-template .content-main .content-forms h3{}
		.page-template .content-main .content-forms form{
			margin-bottom: 20px;
		}
		.page-template .content-main .content-forms input{
			border: 0;
			width: 100%;
			padding: 15px;
			border-bottom: 1px solid #ed1c24;
			margin-top: 20px;
			border-radius: 5px;
		}
		.page-template .content-main .content-forms input:first-child{
			margin-top: 0;
		}
		.page-template .content-main .content-forms input[type='submit']{
			background: #ed1c24;
			color: #FFFFFF;
			text-transform: uppercase;
		}
		.page-template .content-main .content-forms input[type='submit']:hover{
			background: #f72e35;
		}
		.page-template .content-main .content-forms input.ico-buscar:before{
			content: '\e801'!important;
			font-family: "fontello";
			font-style: normal;
			font-weight: normal;
			speak: none;
			display: inline-block!important;
			text-decoration: inherit;
			width: 1em;
			margin-right: .2em;
			text-align: center;
			/* opacity: .8; */
			font-variant: normal;
			text-transform: none;
			line-height: 1em;
			margin-left: .2em;
			/* font-size: 120%; */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
			color: red;
		}
		.page-template .content-main .content-forms input[type='checkbox']{
			width: initial;
		}


/* ---------------------
- Form Contato	  	   |
---------------------- */
	#formulario{}
	#formulario .row{
		border: 1px solid #ed1c24;
		padding: 10px;
		margin-top: 15px;
	}
	#formulario .row:first-child{
		margin-top: 0;
	}
	#formulario .row label{
		font-size: 18px;
		color: #2a2a2a;
		cursor: pointer;
	}
	#formulario .row input{
		border: 0;
		margin-top: 0;
		padding: 5px;
	}
	#formulario .row input[type='submit']{
		padding: 15px;
	}
	#formulario .row.submit{
		padding: 0;
		border: 0;
	}
	#formulario .row textarea{
		width: 100%;
		border: 0;
		resize: vertical;
	}

/* ---------------------
- Page template - APP  |
---------------------- */
	.page-template-page-template-aplicativo{}
	.page-template-page-template-aplicativo .content-main.container{
		max-width: 600px;
	}

	.page-template-page-template-aplicativo .content-main .item{}
	.page-template-page-template-aplicativo .content-main .item p{
		padding-top: 50px;
		font-size: 24px;
	}
	.page-template-page-template-aplicativo .content-main .item p span{
		color: #b12c2f;
	}
	.page-template-page-template-aplicativo .content-main .item p span.featured{
		background: #b12c2f;
		color: #FFFFFF;
	}
	.page-template-page-template-aplicativo .content-main .item img{
		max-width: 100%;
	}

	.page-template-page-template-aplicativo .content-main .infos{}
	.page-template-page-template-aplicativo .content-main .infos p{
		text-align: center;
	}
	.page-template-page-template-aplicativo .content-main .infos p a{
		display: inline-block;
		padding: 10px 20px;
		color: #de302f;
		border: 2px solid #de302f;
		border-radius: 5px;
		font-weight: 700;
		margin-left: 10px;
	}
	.page-template-page-template-aplicativo .content-main .infos p a:first-child{
		margin-left: 0;
	}

/* ---------------------
- Page template - 404  |
---------------------- */
	.error404{}

	.error404 main{
		min-height: 500px;
	}

	/* img top */
	.error404 .img-featured{
		/*background: url(../images/topo-focos.jpg) top center no-repeat;*/
		width: 100%;
		height: 120px;
		background-size: cover;
	}
	.error404 .img-featured h1{
		margin-top: 0;
		padding: 40px 0;
		text-align: center;
		font-size: 80px;
		color: #FFFFFF;
	}

	/* Content */
	.error404 .content-main{
		min-height: 200px;
	}
	.error404 .content-main p{
		font-family: 'Roboto Slab', serif;
		color: #161616;
		margin: 20px 0;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}

	.error404 .content-main a{
		color: #2a2a2a;
		font-weight: bold;
	}

	.error404 .content-main h2,
	.error404 .content-main h3,
	.error404 .content-main h4{
		margin: 20px 0;
		padding: 0;
		text-align: center;
	}

	.error404 .content-main h2{
		font-size: 24px;
	}
	.error404 .content-main h3{
		font-size: 20px;
	}
	.error404 .content-main h4{
		font-size: 16px;
	}

	.error404 .content-main .content-map{
		margin: 40px 0;
	}


/* ---------------------
- Media Queries  	   |
---------------------- */
@media screen and (max-width: 1100px){
	/* Header */
	#header .main-menu ul li a{
		padding: 10px;
		margin-top: 20px;
	}

	/* Home */
		/* Baixe nossoaplicativo */
		#home .content-download .content-infos ul li p{
			max-width: initial;
		}
}

@media screen and (max-width: 999px){
	/* Home */
		/* Baixe nossoaplicativo */
		#home .content-download .content-infos{
			width: 100%!important;
		}

	/* Footer */
	#footer .content-smm ul li a{
		padding: 5px;
	}
}

@media screen and (max-width: 768px){
	
	/* Home */
		/* Baixe nossoaplicativo */
		#home .content-download .content-infos ul li p{
			max-width: 170px;
		}

	/* Footer */
	#footer .content-smm ul li{
		margin-left: 15px;
	}
	#footer .content-copyright{
		max-width: 50%;
		float: left;
	}
	#footer .content-smm{
		max-width: 50%;
		float: right;
	}
}

@media screen and (max-width: 680px){
	/* Home */
		/* Baixe nossoaplicativo */
		#home .content-download .content-infos ul li{
			margin-bottom: 20px;
		}
		#home .content-download .content-infos ul li p{
			max-width: 100%;
			margin-top: 0px;
			text-align: left;
			vertical-align: middle;
		}
		#home .content-download .content-infos ul li i{
			float: left;
			margin-right: 50px;
		}
}

@media screen and (max-width: 650px){
	/* Home */
		/* Baixe nossoaplicativo */
		#home .content-download .content-infos ul li{
			margin-bottom: 20px;
		}
		#home .content-download .content-infos ul li p{
			max-width: 100%;
			margin-top: 30px;
		}
		#home .content-download .content-infos ul li i{
			float: left;
			margin-right: 50px;
		}
}

@media screen and (max-width: 650px){
	/* Footer */
	#footer .content-smm ul li{
		margin-left: 15px;
	}
	#footer .content-copyright{
		width: 100%;
		float: initial;
		max-width: initial;
	}
	#footer .content-smm{
		width: 100%;
		float: initial;
		max-width: initial;
	}
}

.navbar-toggle{
	position: absolute;
	top: -50px;
	right: 0px;
}